openai 
ffmpeg
langchain
docarray
pytube 
python-dotenv
tiktoken 
scikit-learn
langchain-groq
pytubefix
langchain-community
langchain-core
sentence_transformers
ruff
pypdf
git+https://github.com/openai/whisper.git
